@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  color: #FEFEFE;
}

body {
  background-color: black;
}

.rainbowfont {
  background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow {
    background: -webkit-gradient(linear, left top, left bottom, from(#edca85), to(#f093b0));
}

.pink {
  background: -webkit-gradient(linear, left top, left bottom, from(#f093b0), to(#a162e8));
}

.blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#a162e8), to(#a0e9ff));
}

.title {
  font-family: "Fraunces";
  font-variation-settings: 'opsz' 1;
}

.navbarItem {
  position: relative;
  padding-bottom: 5px;
}

.navbarItem::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 35%;
  border-bottom: 3px solid black;
  width: 30%;
  transition-property: width, left;
  transition: 0.4s linear;
}

.navbarItem:hover::before{
  border-bottom: 3px solid #9FE9FF;
  width: 90%;
  left: 5%;
}

/* contact page */
.contactButton {
  padding: 15px 35px;
  border-radius: 10px;
  background: black;
  color: #D3D3D3;
  border: 1px solid #D3D3D3;
  margin-top: 15px;
  font-size: 18px;
}

.neonBox {
  color: #fff;

}

.contactButton:hover {
  background-color: white;
  color: black;
}

.contactInput {
  border: 1px #D3D3D3 solid;
  border-radius: 10px;
  font-size: 17px;
  letter-spacing: 2px;
  width: 400px;
  margin-top: 15px;
  padding: 15px;
  background-color: black;
  
}

.contactInput:hover {
  /* border: 1px solid white; */
  box-shadow:
  0 0 1px #fff,
  0 0 1px #fff,
  0 0 2px #fff,
  0 0 3px gray,
  0 0 4px gray,
  0 0 6px gray,
  0 0 7px gray,
  0 0 8px gray;
}

.contactInput::placeholder {
  color: #D3D3D3;
}

/* Portfolio */
.project {
  transition: transform ease 0.5s;
}

.project:hover {
  transform: translateY(-7px);
}